{%extends 'base.html'%}
{%block content%}
 
<div class = 'row text-center' >
    <div class = 'col'>
        <h1>Welcome to OTT</h1>
    </div>
</div>

<div class= 'row' id = "thumbnails">
    Loading...
</div>

<style>
    .thumb{
        padding-top:  4%;
        
    }
    .thumb2{
        padding-bottom: 2%;
        border-bottom: 1px solid lightgray;

    }
</style>

<script>

const movieEle = document.getElementById("thumbnails")
movieEle.innerHTML = "Load..."

function rateBtn(thumbnails){
    var link = "create-form/"+thumbnails.id;
    return "<a class='btn btn-primary' href = "+link+">Rate</a>"
}

function getHome(thumbnails){
    var img = thumbnails.image  
    return "<div class='row thumb2'>"+
                "<div class='col-md-4'>"+
                    "<div class='thumbnail'>"+
                        "<img class = 'img-rounded' alt = 'Cinque Terre' id='img' src ="+img+"></img>"+
                    "</div>"+
                "</div>"+
                
                "<div class='col-md-4'>"+
                    "<p>" + "<strong>Title</strong>: "+thumbnails.title     +"</p>"+
                    "<p>" + "<strong>Content</strong>: "+thumbnails.content   + "</p>" + 
                    "<p>" + "<strong>Genre</strong>: "+thumbnails.genre     + "</p>" + 
                    "<p>" + "<strong>Language</strong>: "+thumbnails.language  +"</p>" +
                    "<p>" + "<strong>Rate</strong>: "+thumbnails.avg_rate  + " / 10"+"</p>"+
                    rateBtn(thumbnails) +
                "</div>"+
                
            "</div>"
}

function format_element(thumbnails){
    console.log(thumbnails.image)
    var total_str = "<div class = 'row thumb'>"+
                        "<div class = 'col-md-1 '></div>"+
                        "<div class = 'col-12 col-md-8 mx-auto border-bottom py-5 mb-4'>"+ 
                        getHome(thumbnails)+
                        "</div>"+
                    "</div>"
    return total_str         
}


    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = 'all'
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
        const serverResponse = xhr.response
        var listed_items = serverResponse.op
        var finalstr = " "
        var i 
        for(i=0;i<listed_items.length;i++){
            var curr_item = format_element(listed_items[i])
               finalstr+=curr_item
        }
        movieEle.innerHTML = finalstr
        
    
    }
    xhr.send()
</script>

{%endblock content%}